images/
src/upstream/
src/dectalk/build/
src/dectalk/libdectalk.a
src/dectalk/dtsay
src/dectalk/*.wav
build/*.log
dist/*.img
dist/*.zip
run/*.img
run/*.log
run/*.sock
run/*.wav
run/*.png
run/*.ppm
run/*.status
run/ovmf_vars.fd
target/
keys/talkalpine.rsa
dist/tdsr
dist/espeakup
run/*.raw
